<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Restaurant</title>
    <link rel="stylesheet" href="../../../static/school-page-styles.css">
</head>
<body>
    <h1>Choose Your Restaurant</h1>
    <h2>Northeastern University</h2>
    <ul>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/five-guys'">Order Now</button>
            <a href="#">Five Guys</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/wings-over-boston'">Order Now</button>
            <a href="#">Wings Over Boston</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/el-jefes-taqueria'">Order Now</button>
            <a href="#">El Jefe's Taqueria</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/mamacita'">Order Now</button>
            <a href="#">Mamacita Boston</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/amelias-taqueria'">Request Delivery</button>
            <a href="#">Amelia's Taqueria</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/gyro-scope'">Request Delivery</button>
            <a href="#">Gyro Scope</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='/northeastern-university/sprout'">Request Delivery</button>
            <a href="#">Sprout</a>
        </li>
        <!--
        <li>
            <button class="order-now" onclick="location.href='#'">Order Now</button>
            <a href="#">Panera</a>
        </li>
        <li>
            <button class="order-now" onclick="location.href='#'">Order Now</button>
            <a href="#">Amelia's Taqueria</a>
        </li> -->
        <!-- Add more restaurant links as needed -->
    </ul>
    
    <form action="/submit_request" method="POST">
        <h2>Don't see your favorite restaurant? Put in a request here.</h2>
        <label for="email">Your .edu Email Address:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="restaurant">Restaurant Name:</label>
        <input type="text" id="restaurant" name="restaurant" required>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
