<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order from Restaurants</title>
  <link rel="stylesheet" href="assets/css/styles.css">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Order Form</title>
  <!--    Stylesheets-->
  <!-- ===============================================-->

  <style>
    body {
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
    }

    /* Styling for the loading animation */
    .loading-dots {
      font-size: 80px;
      color: #FFF;
    }

    .container {
      margin: 0 auto;
      padding: 30px;
      max-width: 600px;
    }

    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 12px;
      margin: 5px 0;
      border: none;
      background-color: #fff;
      color: black;
      font-size: 18px;
    }

    input[type="submit"] {
      background-color: #fff;
      color: black;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 105%;
      margin-top: 10px;
      margin-left: -5px;
      border-radius: 15px;
      box-shadow: 0 5px 15px #FD00EA, 
        0 -5px 15px #4FE90D; 
      font-size: 18px;
    }

    .back-button {
      text-decoration: none;
      color: #000; 
      position: fixed;
      top: 20px;
      left: 20px;
      background-color: #fff;
      padding: 10px 20px;
      border-radius: 30px;
      cursor: pointer;
      z-index: 1000;
      font-size: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      margin-top: 30px;
    }

    .thank-you-message {
      display: none;
      text-align: center;
      font-size: 24px;
      margin-top: 50px;
    }

  </style>

</head>
<body>      
  <a class="back-button" href="/">Back</a>
  <!-- <div class="container" id="grid-title" data-aos="fade-down" data-aos-duration="2000">
    <h1>Order for pickup from the restaurants and fill out the form below!</h1>
      <div class="restaurant-grid" id="restaurantGrid" data-aos="fade-down" data-aos-duration="2000">
        <a href="https://order.wingsover.com/location/boston/pickup/" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/wingsOverImage.png" alt="Restaurant 1">
            <div class="restaurant-info">
              <h2 class="restaurant-name">Wings Over Boston</h2>
              <p class="restaurant-description">Tenders. Wings. Fries. Tender Sandwiches. Sauce. Endless Possibilities!</p>
            </div>
          </a>
          
          <a href="https://order.online/store/el-jefe's-taqueria-boston-1529536/?hideModal=true&pickup=true" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/eljefes.png" alt="elJefes">
            <div class="restaurant-info">
              <h2 class="restaurant-name">El Jefe's Taqueria</h2>
              <p class="restaurant-description">El Jefe's Taquería is bringing fresh, authentic Mexican food to you.</p>
            </div>
          </a>
          
          <a href="https://www.panerabread.com/en-us/home.html?overlay=order-setup-flow" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/Panera-Bread-logo.png" alt="Panera">
            <div class="restaurant-info">
              <h2 class="restaurant-name">Panera</h2>
              <p class="restaurant-description">We are Panera Bread and we believe that good food served in warm, welcoming spaces by people who care can bring out the best in all of us.
            </p>
            </div>
          </a>

          <a href="https://order.fiveguys.com/order" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/Five_Guys_logo.svg.png" alt="FiveGuys">
            <div class="restaurant-info">
              <h2 class="restaurant-name">El Jefe's Taqueria</h2>
              <p class="restaurant-description">Burgers and Fries.</p>
            </div>
          </a>
          
          <a href="https://www.dunkindonuts.com/en/mobile-app" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/Dunkin'_logo.png" alt="Dunkin">
            <div class="restaurant-info">
              <h2 class="restaurant-name">Dunkin'</h2>
              <p class="restaurant-description">Order on the APP.</p>
            </div>
          </a>
          
          <a href="https://order.incentivio.com/c/ameliastaqueria/locations/ameliastaqueriahuntingtonavenue/" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/Amelias-Taqueria.png" alt="ameliastaqueria">
            <div class="restaurant-info">
              <h2 class="restaurant-name">Amelia's Taquiera</h2>
              <p class="restaurant-description">Feel good about enjoying the Mexican dishes you crave— made with healthy & fresh ingredients, housemade sauces, and grandma’s best recipes.</p>
            </div>
          </a>

          <a href="https://mamacitaboston.com/" class="restaurant-card" target="_blank">
            <img class="restaurant-image" src="assets/img/mamacitaboston.png" alt="mamacitaboston">
            <div class="restaurant-info">
              <h2 class="restaurant-name">Mamacita Boston</h2>
              <p class="restaurant-description">At Mamacita we are passionate about creating bold & craveable meals. Authentic Mexican food should be vibrant, delicious, fresh and fun!</p>
            </div>
          </a>
          
    </div>
  </div> -->

  <div class="container" id="processing-message" style="display: none;">
    <h1>Processing Order...</h1>
    <div id="loadingDots" class="loading-dots"></div>
  </div>

  <div class="container" id="orderInstructions" data-aos="fade-down" data-aos-duration="2000">
    <h1>How to Order</h1>
    <h2>Step 1: Place your pickup order</h2>
    <p>Select one of the retaurants below and place an order for <em><u>pickup</u></em> at your campus location</p>
    <ul>
      <li><a href="https://order.wingsover.com/location/boston/pickup/" target="_blank" style="color: white;">Wings Over Boston</a></li>
      <li><a href="https://order.online/store/el-jefe's-taqueria-boston-1529536/?hideModal=true&pickup=true" target="_blank" style="color: white;">El Jefe's Taqueria</a></li>
      <li><a href="https://www.panerabread.com/en-us/home.html?overlay=order-setup-flow" target="_blank" style="color: white;">Panera</a></li>
      <li><a href="https://order.fiveguys.com/order" target="_blank" style="color: white;">Five Guys</a></li>
      <li><a href="https://order.incentivio.com/c/ameliastaqueria/locations/ameliastaqueriahuntingtonavenue/" target="_blank" style="color: white;">Amelia's Taqueria</a></li>
      <li><a href="https://mamacitaboston.com/" target="_blank" style="color: white;">Mamacita Boston</a></li>
      <!-- Add more restaurant links here -->
    </ul>    
    
    <h2>Step 2: Input your order information for delivery</h2>
    <p>Fill out the order form below.<br><em>The restaurant and address fields will be read by your driver so don't worry about inputting valid google maps addresses</em></p>
    
    <h2 style="font-size: 24px;" id="orderFormHeading">Order Form</h2>
    <form id="orderForm">

      <label for="restaurant" style="font-size: 16px;">Restaurant:</label>
      <input type="text" id="restaurant" name="restaurant" required>

      <label for="name" style="font-size: 16px;">Name or Number on Order:</label>
      <input type="text" id="name" name="name" required>

      <label for="address" style="font-size: 16px;">Your address or on-campus building name:</label>
      <input type="text" id="address" name="address" required>

      <label for="phone" style="font-size: 16px;">Phone Number:</label>
      <input type="text" id="phone" name="phone" required>

      <input type="submit" value="Place Order">

    </form>
    <!-- Payment Form -->
</div>
<div class="thank-you-message" id="thankYouMessage">
  Thank you for your order! Please pay for the delivery below!
</div>

<div class="container" id="stripe-payment" style="display: none; justify-content: center;">
  <style>
    body {
      margin-left: 100px;
    }
  </style>

  <script async src="https://js.stripe.com/v3/buy-button.js"></script>

  <stripe-buy-button
    id="stripeBuyButton" 
    buy-button-id="buy_btn_1PFWStICpu5TxoZUjHJIuXmJ"
    publishable-key="pk_live_51PFW4UICpu5TxoZU7ndyjelTd4MqgjlFhL4hkQ8V5iQFvjf3cM2yaiH8aOfB9XVFplLvUZfHawtFRsJzHaiWegR300frJfYwDy"
  >
  </stripe-buy-button>
</div>

<!-- Image -->
<img src="/static/images/order_picture.png" alt="Order Picture">

<!-- ===============================================-->
<!-- JavaScripts-->
<!-- ===============================================-->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.1"></script>
<script>
  function submitOrder(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const orderData = {};
    formData.forEach((value, key) => {
      orderData[key] = value;
    });

    // Hide the order form and heading
    document.getElementById('orderInstructions').style.display = 'none';
    document.getElementById('processing-message').style.display = 'block';

    // AJAX request to Flask backend
    fetch('/submit-order', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(orderData),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      confetti();

      // Hide the order form and heading, and display the thank you message
      // document.getElementById('orderForm').style.display = 'none';
      // document.getElementById('orderFormHeading').style.display = 'none';
      // document.getElementById('restaurantGrid').style.display = 'none';
      // document.getElementById('grid-title').style.display = 'none';
      document.getElementById('orderInstructions').style.display = 'none';
      document.getElementById('processing-message').style.display = 'none';
      document.getElementById('stripe-payment').style.display = 'flex'; // Show the payment section
      document.getElementById('thankYouMessage').style.display = 'block';

      // Show the stripe buy button after form submission
      document.getElementById('stripeBuyButton').setAttribute('buy-button-id', 'buy_btn_1PFWStICpu5TxoZUjHJIuXmJ');
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  const form = document.getElementById('orderForm');
  form.addEventListener('submit', submitOrder);
</script>
<!-- <script>
  function submitOrder(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const orderData = {};
    formData.forEach((value, key) => {
      orderData[key] = value;
    });
    console.log(orderData);
    confetti();

    // Hide the order form and heading, and display the thank you message
    // document.getElementById('orderForm').style.display = 'none';
    // document.getElementById('orderFormHeading').style.display = 'none';
    // document.getElementById('restaurantGrid').style.display = 'none';
    // document.getElementById('grid-title').style.display = 'none';
    document.getElementById('orderInstructions').style.display = 'none';
    document.getElementById('stripe-payment').style.display = 'flex'; // Show the payment section
    document.getElementById('thankYouMessage').style.display = 'block';

    // Show the stripe buy button after form submission
    document.getElementById('stripeBuyButton').setAttribute('buy-button-id', 'buy_btn_1PFWStICpu5TxoZUjHJIuXmJ');
  }

  const form = document.getElementById('orderForm');
  form.addEventListener('submit', submitOrder);
</script> -->
<script>
  // Function to create the loading animation
  function createLoadingAnimation() {
    var dots = document.getElementById('loadingDots');
    var animationFrame = 0;
    dots.innerHTML = '.'; // Initial dot

    // Function to update the animation frame
    function updateFrame() {
      dots.innerHTML = '.'.repeat(animationFrame % 4); // Create dots based on current frame
      animationFrame++; // Increment animation frame
    }

    // Update the animation frame every 500 milliseconds
    setInterval(updateFrame, 500);
  }

  // Call the function to start the loading animation
  createLoadingAnimation();
</script>
</body>
</html>
